#logo {
    width: 6vh;
    height: 6vh;
    position: absolute;
    top: 4vh;
    left: 4vh;
    z-index: 10;
    cursor: pointer;
}

#logo p {
    width: 20vw;
    height: 6vh;
    position: absolute;
    top: -4vh;
    left: 12vh;
    z-index: 11;
    line-height: 6vh;
    font-size: 2.4rem;
    font-family: logoFont;
}


#index_bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 0;
}

#index_bg #index_bg_img {
    position: absolute;
    left: -10%;
    top: -10%
}

#shutter {
    filter: alpha(opacity=20);
    -moz-opacity: .2;
    opacity: .2;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#message {
    width: 40vw;
    height: 6vh;
    position: absolute;
    top: 4vh;
    left: 30vw;
    z-index: 10;
    border-radius: 4vh;
    text-align: center;
    line-height: 6vh;
    font-size: 1.1rem;
    color: #333333;
}

#message:before {
    content: "";
    width: 40vw;
    height: 6vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    border-radius: 4vh;
    filter: alpha(opacity=20);
    -moz-opacity: .2;
    opacity: .2;
    text-align: center;
    line-height: 6vh;
    font-size: 1.2rem;
    background: black;
}

#mask {
    width: 22vw;
    height: 44vh;
    position: fixed;
    right: 40vw;
    top: 24vh;
    background: black;
    filter: alpha(opacity=30);
    -moz-opacity: .3;
    opacity: .3;
}
.login:before {
     content: "";
     width: 12vw;
     height: 8vh;
     background: black;
     position: absolute;
     left: 0;
     top: -8vh;
     -webkit-shape-outside: polygon(0 0,80% 0,100% 100%,0 100%);
     -webkit-clip-path: polygon(0 0,80% 0,100% 100%,0 100%);
 }
.register:before {
    content: "";
    width: 12vw;
    height: 8vh;
    background: black;
    position: absolute;
    top: -8vh;
    left: 10vw;
    -webkit-shape-outside: polygon(20% 0,100% 0,100% 100%,0 100%);
    -webkit-clip-path: polygon(20% 0,100% 0,100% 100%,0 100%);
}
#nav {
    color: #333333;
    text-align: center;
    line-height: 8vh;
    font-size: 1.2rem;
}
#nav div{
    width: 11vw;
    height: 8vh;
    position: fixed;
    top: 16vh;
    cursor: pointer;
}
#nav_login {
    right: 51vw;
}

#nav_register {
    right: 39vw;
}

#login_block {

}

#login_account {
    position: fixed;
    right: 42vw;
    top: 30vh;
    width: 18vw;
    height: 8vh;
    font-size: 1.2rem;
    text-align: center;
    filter: alpha(opacity=90);
    -moz-opacity: .9;
    opacity: .9;
}

#login_password {
    position: fixed;
    right: 42vw;
    top: 42vh;
    width: 18vw;
    height: 8vh;
    font-size: 1.2rem;
    text-align: center;
    filter: alpha(opacity=90);
    -moz-opacity: .9;
    opacity: .9;
}

#login {
    position: fixed;
    right: 42vw;
    top: 56vh;
    width: 18vw;
    height: 8vh;
    font-size: 1rem;
    text-align: center;
    filter: alpha(opacity=90);
    -moz-opacity: .9;
    opacity: .9;
    cursor: pointer;
    border-radius: 2vh;
}

#register_block{

}

#register_account {
    position: fixed;
    right: 42vw;
    top: 30vh;
    width: 18vw;
    height: 8vh;
    font-size: 1.2rem;
    text-align: center;
    filter: alpha(opacity=90);
    -moz-opacity: .9;
    opacity: .9;
}

#register_password {
    position: fixed;
    right: 42vw;
    top: 42vh;
    width: 18vw;
    height: 8vh;
    font-size: 1.2rem;
    text-align: center;
    filter: alpha(opacity=90);
    -moz-opacity: .9;
    opacity: .9;
}

#register_password1{
    position: fixed;
    right: 42vw;
    top: 54vh;
    width: 18vw;
    height: 8vh;
    font-size: 1.2rem;
    text-align: center;
    filter: alpha(opacity=90);
    -moz-opacity: .9;
    opacity: .9;
}

#register {
    position: fixed;
    right: 42vw;
    top: 70vh;
    width: 18vw;
    height: 8vh;
    font-size: 1rem;
    text-align: center;
    filter: alpha(opacity=90);
    -moz-opacity: .9;
    opacity: .9;
    cursor: pointer;
    border-radius: 2vh;
}
