/*此文件用于写整个项目中统一风格的控件样式，即项目主题*/
body{
    background: aliceblue;
    overflow-x: hidden;
}
@font-face {
    font-family: LogoFont;
    src: url('/onlinetrain/resource/font/C288-蔡云汉隶书书法字体.ttf'); /* IE9+ */
}
.item_block{
    display: block;
    background: white;
    box-shadow: 0 0 10px 2px #bbbbbb;
}