<div class="layui-side layui-bg-black">
	<div class="layui-side-scroll">
		<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
		<ul class="layui-nav layui-nav-tree" lay-filter="test">
			<li class="layui-nav-item layui-nav-itemed">
				<a href="javascript:;">考试管理</a>
				<dl class="layui-nav-child">
					<dd><a href="">查询套题</a></dd>
					<dd><a href="../manage/addtest.html">新增套题</a></dd>
				</dl>
			</li>
			<li class="layui-nav-item">
				<a href="javascript:;">用户管理</a>
				<dl class="layui-nav-child">
					<dd><a href="order.html">权限审核</a></dd>
				</dl>
			</li>
			<li class="layui-nav-item"><a href="">个人信息</a></li>
		</ul>
	</div>
</div>
<!-- <script src="/OnlineTrainingWebApi/layui-v2.4.5/layui/layui.all.js"></script> -->
