<!-- <link rel="stylesheet" href="/OnlineTrainingWebApi/layui-v2.4.5/layui/css/layui.css"> -->
<link rel="stylesheet" href="/OnlineTrainingWebApi/css/component/manage/alltest.css">
<script src="/OnlineTrainingWebApi/js/component/manage/alltest.js"></script>
<script src="/OnlineTrainingWebApi/js/common/common.js"></script>
<div class="testlist">
	<div class="testitem">
		<h4 class="testname"><b>顺丰科技2019秋招安卓开发工程师笔试客观题合集</b></h4>
		<div class="createdate"><span>创建日期：</span><span class="date">2019.04.03</span></div>
		<div class="teststatus"><span>状态：</span><span class="status">公开</span></div>
		<div class="allbtn"><span class="querybtn"><button class="layui-btn layui-btn-normal">查询</button></span><span class="deletebtn"><button class="layui-btn layui-btn-danger">删除</button></span></div>
	</div>
	
	<div class="testitem">
		<h4 class="testname"><b>顺丰科技2019秋招安卓开发工程师笔试客观题合集</b></h4>
		<div class="createdate"><span>创建日期：</span><span class="date">2019.04.03</span></div>
		<div class="teststatus"><span>状态：</span><span class="status">公开</span></div>
		<div class="allbtn"><span class="querybtn"><button class="layui-btn layui-btn-normal">查询</button></span><span class="deletebtn"><button class="layui-btn layui-btn-danger">删除</button></span></div>
	</div>
</div>