<link rel="stylesheet" href="../../../css/component/manage/question.css">
<!-- <link rel="stylesheet" href="/OnlineTrainingWebApi/layui-v2.4.5/layui/css/layui.css"> -->
<!-- <script src="/OnlineTrainingWebApi/js/jquery-3.3.1.min.js"></script> -->
<script src="../../../js/component/manage/question.js"></script>

<div class="addquestion">
	<h2>添加试题</h2>
	<div class="qtitle">
		<div class="layui-form-item layui-form-text">
			<label class="layui-form-label">问题:</label>
			<div class="layui-input-block">
				<textarea id="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
			</div>
		</div>
	</div>
	<div class="qtype">
		<span>题目类型：</span>
		<select name="status" lay-verify="" class="questiontype">
			<option value="">请选择</option>
			<option value="0" selected>选择题</option>
			<option value="1">填空题</option>
		</select>
	</div>

	<div class="questions">
		<div class="layui-form-item qsel">
			<label class="layui-form-label">选项A：</label>
			<div class="layui-input-block">
				<input type="text" id="optionA" required lay-verify="required" placeholder="请输入选项" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item qsel">
			<label class="layui-form-label">选项B：</label>
			<div class="layui-input-block">
				<input type="text" id="optionB" required lay-verify="required" placeholder="请输入选项" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item qsel">
			<label class="layui-form-label">选项C：</label>
			<div class="layui-input-block">
				<input type="text" id="optionC" required lay-verify="required" placeholder="请输入选项" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item qsel">
			<label class="layui-form-label">选项D：</label>
			<div class="layui-input-block">
				<input type="text" id="optionD" required lay-verify="required" placeholder="请输入选项" autocomplete="off" class="layui-input">
			</div>
		</div>

		<div class="layui-form-item qanswer">
			<label class="layui-form-label">正确答案:</label>
			<div class="layui-input-block">
				<input type="text" name="qanval" required lay-verify="required" placeholder="请输入答案" autocomplete="off" class="layui-input">
			</div>
		</div>
		<div class="layui-form-item qsel">
			<label class="layui-form-label">正确答案：</label>
			<input type="radio" class="rans" name="rans" value="A" title="A">A
			<input type="radio" class="rans" name="rans" value="B" title="B">B
			<input type="radio" class="rans" name="rans" value="C" title="C">C
			<input type="radio" class="rans" name="rans" value="D" title="D">D
		</div>
	</div>
	<div class="qbtn"><button class="layui-btn addquesrion">录入</button></div>
</div>
