<link rel="stylesheet" href="../../../css/component/manage/questioncollection.css">
<link rel="stylesheet" href="../../../layui-v2.4.5/layui/css/layui.css">
<script src="../../../js/jquery-3.3.1.min.js"></script>
<script src="../../../js/component/manage/questioncollect.js"></script>
<style>

</style>
<div class="collectlist">
        <div class="collectitem">
                <div class="questionname">
                        <h4>题目：<i class="layui-icon layui-icon-close-fill btnright"></i> </h4>
                        <textarea name="" required lay-verify="required" placeholder="请输入"
                                class="layui-textarea onlyread" disabled="disabled">题目内容</textarea>
                </div>
                <div class="options">
                        <div class="option">
                                选项A：
                                <div class="layui-input-inline" style="width: 300px;">
                                        <input type="text" id="optionA" placeholder="请输入选项" autocomplete="off"
                                                class="layui-input onlyread" disabled="disabled">
                                </div>
                        </div>

                        <div class="option">
                                选项B：
                                <div class="layui-input-inline" style="width: 300px;">
                                        <input type="text" id="optionB" placeholder="请输入选项" autocomplete="off"
                                                class="layui-input onlyread" disabled="disabled">
                                </div>
                        </div>

                        <div class="option">
                                选项C：
                                <div class="layui-input-inline" style="width: 300px;">
                                        <input type="text" id="optionC" placeholder="请输入选项" autocomplete="off"
                                                class="layui-input onlyread" disabled="disabled">
                                </div>
                        </div>

                        <div class="option">
                                选项D：
                                <div class="layui-input-inline" style="width: 300px;">
                                        <input type="text" id="optionD" placeholder="请输入选项" autocomplete="off"
                                                class="layui-input onlyread" disabled="disabled">
                                </div>
                        </div>
                </div>

                <div class="qanswer">
                        答案:
                        <div class="layui-input-inline" style="width: 400px;">
                                <input type="text" id="qanval" placeholder="请输入答案" autocomplete="off"
                                        class="layui-input onlyread" disabled="disabled">
                        </div>
                </div>
                
        </div>
</div>