<link type="text/css" rel="stylesheet" href="../../../css/component/comments.css" />
<!-- <link type="text/css" rel="stylesheet" href="../../layui-v2.4.5/layui/css/layui.css" /> -->
<!-- <script src="../../js/jquery-3.3.1.min.js"></script> -->
<script src="../../../js/component/comments.js"></script>

  <div class="addcontent">
      <textarea name="desc" id="postcontent" placeholder="请输入内容" class="layui-textarea"></textarea>
	  <button class="layui-btn layui-btn-normal" id="addcontent">发表</button>
  </div>

<div class="commentlist">
	<!-- <div class="comment">
		<div class="uimg">
			<div class="upic"><img src="../../../img/headpic/a34e9a80.jpeg"></div>
		</div>
		<div class="ucontent">
			<div class="content">
				<p class="uname">ddj</p>
				<p class="unr">大是大非大家都很好sdsdfsf 收到回复深交所接口设计开发接口还是开会收到粉丝地方就是的开发</p>
			</div>
			<div class="ubmsg">3月6日08:45</div>
		</div>
	</div> -->
</div>
<div id="page"></div>
