<div class="papers">
    <div class="papertitle">
        <p class="label active">最新</p>
        <p class="label">最热</p>
    </div>
    <div class="paperlist">
        <div class="item">
            <div class="details">
                <h3>顺丰科技2019秋招安卓开发工程师笔试客观题合集</h3>
                <p class="details-img"><img src="http://m.elongstatic.com/static/promotion/activityplatfprm/img/no-pic-s.jpg" alt=""></p>
                <i class="hoti">热度指数：543</i>
            </div>
            <div class="stars">
                难度系数:★★★
            </div>
        </div>
        <div class="item">
            <div class="details">
                <h3>顺丰科技2019秋招安卓开发工程师笔试客观题合集</h3>
                <p class="details-img"><img src="http://m.elongstatic.com/static/promotion/activityplatfprm/img/no-pic-s.jpg" alt=""></p>
                <i class="hoti">热度指数：543</i>
            </div>
            <div class="stars">
                难度系数:★★★
            </div>
        </div>
        <div class="item">
            <div class="details">
                <h3>顺丰科技2019秋招安卓开发工程师笔试客观题合集</h3>
                <p class="details-img"><img src="http://m.elongstatic.com/static/promotion/activityplatfprm/img/no-pic-s.jpg" alt=""></p>
                <i class="hoti">热度指数：543</i>
            </div>
            <div class="stars">
                难度系数:★★★
            </div>
        </div>
        <div class="item">
            <div class="details">
                <h3>顺丰科技2019秋招安卓开发工程师笔试客观题合集</h3>
                <p class="details-img"><img src="http://m.elongstatic.com/static/promotion/activityplatfprm/img/no-pic-s.jpg" alt=""></p>
                <i class="hoti">热度指数：543</i>
            </div>
            <div class="stars">
                难度系数:★★★
            </div>
        </div>
        <div class="item">
                <div class="details">
                    <h3>顺丰科技2019秋招安卓开发工程师笔试客观题合集</h3>
                    <p class="details-img"><img src="http://m.elongstatic.com/static/promotion/activityplatfprm/img/no-pic-s.jpg" alt=""></p>
                    <i class="hoti">热度指数：543</i>
                </div>
                <div class="stars">
                    难度系数:★★★
                </div>
        </div>
    </div>
</div>