.infodetail {
    box-shadow: 0 0 10px 2px #bbbbbb;
	padding: 10px;
}
#title {
    text-align: center;
    /* border-bottom: 1px solid #000; */
}
#provider {
    text-align: right;
    font-size: 16px;
    /* border-bottom: 1px solid #000; */

}
#createtime {
    margin-right: 10px;
    margin-left: 20px;
}
#content {
    font-size: 18px;
    width: 80%;
    margin: 30px auto;
    /* border: 1px solid #000; */
    line-height: 30px;
}
.headpart {
    height: 50px;
    /* border: 1px solid #000; */
}
.contentpart {
    width: 80%;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    /* border: 1px solid red; */
}