<link href="../../../css/component/information/infodetail.css" rel="stylesheet" type="text/css" />
<div class="detail">
    <div class="infodetail">
        <h2 id="title">sdfsdf</h2>
        <div id="provider">
            <span id="username">sdf</span>
            <span id="createtime">2019.03.06</span>
        </div>
        <p id="content">
            sdfsdf收到回复快乐圣诞节风口浪尖上打开了飞机克拉圣诞节福利啊离开圣诞节福利时间到付款了就是离开
            的粉丝地方看啊收到回复 
        </p>
    </div>
</div>
<script src="../../../js/component/information/infodetail.js"></script>