<link rel="stylesheet" href="../../../../css/component/manage/test.css">
<!-- <link rel="stylesheet" href="/OnlineTrainingWebApi/layui-v2.4.5/layui/css/layui.css"> -->
<script src="../../../../js/component/manage/foruser/test.js"></script>
<div class="addtest">
<div>
	<h2>新增套题</h2>
	<div class="testname">
    <label class="layui-form-label">标题：</label>
    <div class="layui-input-block">
      <input type="text" id="title" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
    </div>
	</div>
	
<div class="teststatus">
	状态：
	<select id="status" lay-verify="">
		<option value="">请选择</option>
		<option value="0" selected>公开</option>
		<option value="1">私有</option>
	</select>
</div>
<p class="testbtn"><button class="layui-btn testnext">确认</button></p>
</div>
