<!-- <link rel="stylesheet" href="../../../layui-v2.4.5/layui/css/layui.css"> -->
<div class="layui-side layui-bg-black">
	<div class="layui-side-scroll">
		<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
		<ul class="layui-nav layui-nav-tree" lay-filter="test">
			<li class="layui-nav-item layui-nav-itemed">
				<a href="javascript:;">考试管理</a>
				<dl class="layui-nav-child">
					<dd><a href="http://train.online.com/html/manage/foruser/showalltest.html">查询套题</a></dd>
					<dd><a href="http://train.online.com/html/manage/foruser/addtest.html">新增套题</a></dd>
				</dl>
			</li>
			<li class="layui-nav-item layui-nav-itemed">
				<a href="javascript:;">信息管理</a>
				<dl class="layui-nav-child">
					<dd><a href="http://train.online.com/html/manage/foruser/usermessage.html">信息完善</a></dd>
				</dl>
			</li>
			<li class="layui-nav-item layui-nav-itemed" style="line-height: 50px">
				<a href="javascript:;">应用中心</a>
				<dl class="layui-nav-child">
					<dd><a href="http://train.online.com/html/manage/foruser/qcollection.html">试题集锦</a></dd>
					<dd><a href="http://train.online.com/html/manage/foruser/inforhistory.html">历史浏览</a></dd>
				</dl>
			</li>
		</ul>
	</div>
</div>
<!-- <script src="../../../js/component/manage/adminLeftMenu.js"></script> -->
<!-- <script src="../../../layui-v2.4.5/layui/layui.all.js"></script> -->
