<div id="box">
    <ul>
        <li><img src="http://m.elongstatic.com/static/webapp/hotel/wireless/H5/activityplatform/online2810_h5uploader_%E5%A4%B4%E5%9B%BE.jpg" alt=""></li>
        <li><img src="http://m.elongstatic.com/static/webapp/hotel/wireless/H5/activityplatform/online2803_h5uploader_%E5%A4%B4%E5%9B%BE.jpg" alt=""></li>
        <li><img src="http://m.elongstatic.com/static/webapp/hotel/wireless/H5/activityplatform/online2276_mbonetitlePic_121.jpg" alt=""></li>
    </ul>
    <div class="btnLeft"><img src="../../../img/component/right.png" alt=""></div>
    <div class="btnRight"><img src="../../../img/component/right.png" alt=""></div>
    <p class="hover">
        <span class="active"></span>
        <span></span>
        <span></span>
    </p>
</div>

