<!-- <link rel="stylesheet" href="../../../layui-v2.4.5/layui/css/layui.css"> -->
<div class="layui-side layui-bg-black">
	<div class="layui-side-scroll">
		<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
		<ul class="layui-nav layui-nav-tree" lay-filter="test">
			<li class="layui-nav-item layui-nav-itemed">
				<a href="javascript:;">帖子模块</a>
				<dl class="layui-nav-child">
					<dd><a href="http://train.online.com/html/manage/foradmin/allinformation.html">帖子管理</a></dd>
					<dd><a href="#">帖子审核</a></dd>
				</dl>
			</li>
			<li class="layui-nav-item layui-nav-itemed">
				<a href="javascript:;">套题模块</a>
				<dl class="layui-nav-child">
					<dd><a href="http://train.online.com/html/manage/foradmin/alltest.html">套题管理</a></dd>
					<!-- <dd><a href="#">套题审核</a></dd> -->
				</dl>
			</li>
			<li class="layui-nav-item layui-nav-itemed" style="line-height: 50px">
				<a href="javascript:;">权限管理</a>
				<dl class="layui-nav-child">
					<dd><a href="#">用户权限</a></dd>
				</dl>
			</li>
		</ul>
	</div>
</div>
<!-- <script src="../../../js/component/manage/adminLeftMenu.js"></script> -->
<!-- <script src="../../../layui-v2.4.5/layui/layui.all.js"></script> -->
