<link rel="stylesheet" href="../../../../css/component/manage/infomationhistory.css">
<link rel="stylesheet" href="../../../../layui-v2.4.5/layui/css/layui.css">
<div class="infolist">
    <!-- <div class="infoitem">
       <div class="itemtop">
         <button class="layui-btn layui-btn-sm layui-btn-radius layui-btn-danger"><i class="layui-icon layui-icon-close-fill">删除</i></button>
       </div>
       <div class="infomationname">
           <p class="itemname">

           </p>
       </div>
    </div> -->
      <table id="informationmanage" lay-skin="line" lay-size="lg" lay-filter="test"></table>    
</div>
<script src="../../../../js/jquery-3.3.1.min.js"></script>
<script src="../../../../layui-v2.4.5/layui/layui.all.js"></script>
<script src="../../../../js/component/manage/foradmin/information.js"></script>