<link rel="stylesheet" href="../../../../layui-v2.4.5/layui/css/layui.css">
<!-- <script src="../../../../js/jquery-3.3.1.min.js"></script>
<script src="../../../../js/common/common.js"></script>
<script src="../../../../layui-v2.4.5/layui/layui.all.js"></script> -->
<script src="../../../../js/component/manage/foradmin/test.js"></script>
<div class="testlist" style="width: 98%;margin: 0 auto;align: 'center';">
    <table class="layui-table" lay-skin="line" lay-size="lg" lay-skin="line">
        <thead>
            <tr>
                <th>ID</th>
                <th>套题名</th>
                <th>公开状态</th>
                <th>审核状态</th>
                <th>创建时间</th>
                <th>答题数</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>10001</td>
                <td>交流贴</td>
                <td>华信软件学院</td>
                <td>哈哈哈哈</td>
                <td>2019.03.22</td>
                <td>2313</td>
                <td><button class="layui-btn layui-btn-sm">删除</button></td>
            </tr>
        </tbody>
    </table>
</div>
