/* 系统首页样式 */
/* 头部start */
.usericon{
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 16px;
    background: url(../../img/component/icon-b.png) no-repeat;
    background-size: 32px 32px;
    margin-top: 7px;
}
.layui-header{
    position:relative;
    z-index:1000;
    background:0 0;
    height:50px;
    max-width: 1120px;
    margin: auto;
}
.header .logo{
    position:absolute;
    left:0;
    top:0;
    width:200px;
    height:100%;
    line-height:60px;
    text-align:center;
    color:#009688;
    font-size:16px;
}

/* 头部end */
/* 轮播图样式start */
.boxwrap{
    background: #eaeaea;
    padding-bottom: 2%;
    width: 90%;
    max-width: 1120px;
    margin: auto;
}
#box {
    width: 520px;
    height: 280px;
    overflow: hidden;
    border: 1px solid #ccc;
    margin: 0 auto;
    position: relative;
}

#box ul {
    width: 5000px;
    height: 280px;
    position: absolute;
    left: 0;
}

#box ul li {
    float: left;
}
#box ul li img{
    max-width: 520px;
}
#box .btnLeft,
#box .btnRight {
    position: absolute;
    width: 45px;
    height: 45px;
    top: 117.5px;
    cursor: pointer;
}
#box .btnLeft img,
#box .btnRight img{
    max-width: 45px;
}
#box .btnLeft img{
    transform: rotate(180deg);
}

#box .btnRight {
    right: 0;
    background-position: -45px 0;
}

#box p {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 10px;
    text-align: center;
}

#box p span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ccc;
    margin: 0 3px;
}

#box p span.active {
    background: red;
}
/* 轮播图样式end */

/* 试题列表start */
.paperswrap{
    max-width: 1120px;
    background: #eaeaea;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 60px;
}
.papers{
    border: #d9d9d9 1px solid;
    width: 68%;
    margin: auto;
    background: #fff;
}
.papertitle{
    border-bottom: 1px solid #33b08a;
    display: flex;
    justify-content: start;
}
.papertitle .label{
    text-align: center;
    box-sizing: border-box;
    padding: 12px 16px;
    cursor: pointer;
}
.papertitle .label~.label{
    border-left: #d9d9d9 1px solid;
}
.papertitle .active{
    background: #33b08a;
    color: #fff;
}
.paperlist{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 25px auto 0;
    padding: 12px;
    width: 80%;
}
.paperlist .item{
    width: 180px;
    margin: 20px 1%;
}
.paperlist .item{
    flex-direction: column;
}
.itemNew,.details,.hoverDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.details{
    border: 1px solid #e6e6e6;
    text-align: center;
    border-radius: 3px;
    height: 230px;
    position: relative;
    cursor: pointer;
}
.details:hover{
    border-color:#33b18b;
}
.details:hover .logo{
    overflow: hidden;
    background-size: 70px 70px;
    background-position: top center;
}
.details h3{
    width: 80%;
    margin: 30px auto;
    font-size: 22px;
    line-height: 22px;
    overflow: hidden;
    word-break: break-word;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient: vertical;
}
.details p{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.details p img{
    max-width: 50px;
}
.details .logo{
    width: 64px;
    height: 64px;
    border-radius: 32px;
    background: url(../../../img/component/icon-b.png) no-repeat;
    background-size: 64px 64px;
    transition: all 0.6s;
}
.details .creater{
    font-size: 12px;
    font-style: normal;
    position: absolute;
    bottom: 42px;
}
.details .hoti{
    font-size: 12px;
    font-style: normal;
    position: absolute;
    bottom: 20px;
}
.hoverDiv{
    text-align: center;
    border: 1px solid #e6e6e6;
    text-align: center;
    border-radius: 3px;
    height: 230px;
    margin-bottom: 9px;
}
.hoverDiv h3{
    width: 80%;
    margin: 30px auto;
}
.hoverDiv .more .problemSum{
    color: #33b18b;
    margin: 20px auto 30px;
}
.hoverDiv .more .toList{
    width: 155px;
    height: 27px;
    line-height: 27px;
    background: #33b08a;
    color: #fff;
    margin: 0 auto;
    font-size: 12px;
}
.item .stars{
    text-indent: 1em;
    line-height: 20px;
    height: 20px;
    align-self: flex-start;
    margin: 15px;
    font-size: 13px;
}
/* 试题列表end */
/* 帖子列表start */
.bbswrap{
    width: 90%;
    max-width: 1120px;
    background: #eaeaea;
    box-sizing: border-box;
   
    margin: 0 auto;
}
.bbs{
    width: 80%;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #d9d9d9;
    padding:1% 2%;
    margin: 0 auto;

}
.bbstitle{
    border-bottom: 1px solid #33b08a;
    display: flex;
    justify-content: start;
}
.bbstitle .label{
    text-align: center;
    box-sizing: border-box;
    padding: 12px 16px;
}
.bbstitle .active{
    background: #33b08a;
    color: #fff;
}
.bbscontent{
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px 0;
    box-sizing: border-box;
}
.bbscontent p{
    text-align: left;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    padding-top: 10px;
    padding-left: 25px;
    text-overflow: ellipsis;
    display: flex;
    justify-content: space-between;
}
.bbscontent p:hover{
    background:#009688;
    opacity: .6;
    cursor: pointer;
}
.bbscontent p:hover a{
    color:#fff;
}
.bbscontent p span{
    color: #099;
    font-size: 14px;
    display:block;
    padding-right: 10px;
    width: 179px;
    top: 12px;
    position: relative;
}
/* 帖子列表end */